DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/uwucatcafe
SESSION_SECRET=
PUBLIC_URL=http://localhost:3000
PORT=3000
NODE_ENV=development
